@font-face {
    font-family: "Fira Code";
    src: url("https://github.com/tonsky/FiraCode/raw/master/distr/ttf/FiraCode-Regular.ttf") format("opentype");
}

body .main-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Fira Code";
  font-size: 16pt;
}

h1,h2,h3,h4,h5,h6{
  font-size: 22pt;
}
