@font-face {
    font-family: "Fira Code";
    src: url("Fira-Code.otf") format("otf");
}

body .main-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Fira Code";
  font-size: 16pt;
}

h1,h2,h3,h4,h5,h6{
  font-size: 22pt;
}
